<div class="container">

    <h2>
        Top probleme ale cartierului <b>{{districtName}}</b>
    </h2>
    <h4><b>Reordonează după priorități!</b></h4>
    <div class="my-problems-box" id="my-problem-box">
        <div ng-show="selectedProblems==null || selectedProblems.length<1" style="padding: 15px; color: grey; font-size: 24px; display: inline-block">
            <p>Începe prin a adăuga probleme de mai jos!</p>
            <p>La încheierea operațiilor veți vedea ordinea problemelor din cartierul dvs.</p>
        </div>

        <div class="list-group my-problems-list" ui-sortable="sortableOptions" ng-model="selectedProblems" ng-change="problemsChanged()">
            <div ng-repeat="prb in selectedProblems" class="list-group-item my-problem">
                <button class="btn btn-danger my-problem-btn" ng-click="removeProblem(prb)">Șterge!</button>

                <h4 class="list-group-item-heading">{{::prb.name}}</h4>
                <p class="list-group-item-text">{{::prb.description}} </p>

            </div>
        </div>
    </div>
    <br/>
    <a ng-href="/probleme/{{districtId}}/{{districtName}}" class="btn btn-primary">Confirma alegerea</a>

    <br />

    <h2>Alege din lista de probleme</h2>
    <div class="list-group all-problems">
        <div ng-repeat="prb in problems | orderBy:'-points'" class="list-group-item problem" ng-hide="prb.selected">
            <button ng-hide="prb.selected" ng-click="selectProblem(prb, $event)" class="btn btn-primary problem-btn">Adaugă problema!</button>
            <!--Not applicable anymore-->
            <!--<button ng-show="prb.selected" ng-click="removeProblem(prb, $event)" class="btn btn-danger problem-btn">Șterge problema!</button>-->

            <h4 class="list-group-item-heading">{{::prb.name}}</h4>
            <p class="list-group-item-text">{{::prb.description}} </p>

            <uib-progressbar value="maxPoints>0 ? prb.points*100/maxPoints : 0" type="danger"></uib-progressbar>
        </div>
    </div>


    <div class="well">

        <h3>Adaugă o problemă ce nu apare pe listă</h3>
        <h5 ng-show="userAddedProblems.length>0">Problemele următoare așteaptă verificare.</h5>
        <div class="list-group">
            <a href="#" ng-repeat="prb in userAddedProblems" class="list-group-item list-group-item-warning">
                <h4 class="list-group-item-heading">{{::prb.name}}</h4>
                <p class="list-group-item-text">{{::prb.description}} </p>
            </a>
        </div>

        <div>
            <form ng-submit="sendNewProblem()">
                <table class="table">
                    <tr>
                        <td style="width:150px;">Nume problemă</td>
                        <td><input type="text" class="form-control" ng-model="newProblem.name" required /></td>
                    </tr>
                    <tr>
                        <td style="width:150px;">Descriere problemă</td>
                        <td><textarea class="form-control" ng-model="newProblem.description" required></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Trimite problema!" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

</div>