<!--<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">-->
<div id="index-districts-block" class="container">
    <h1>Bine ați venit pe GlasulTimișului.ro</h1>
    <p style="font-size: 20px">
        <b>
            Acest site este realizat pentru noi, locuitorii judetului Timis din dorinta de a scoate in evidenta problemele cu care ne confruntam zi de zi.
            Ne dorim ca prin realizarea acestor sondaje sa punem administratia publica (Primaria Timisoara si Consiliul Judetean Timis) sa lucreze pentru noi si nu invers.
            Va invitam sa alegeti zona in care locuiti si sa completati problemele regasite in ordinea importantei, dupa cum considerati.
            Prima problema selectata este cea mai importanta sau inseamna ca acea problema ati dori-o rezolvata cat mai repede.
            In caz ca aveti si alte probleme va asteptam sa le descrieti.
        </b>
    </p>
    <br />
    <div ng-repeat="district in AllDistricts" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 district">
        <a href="/cartier/{{district.id}}/{{district.name}}" class="btn btn-primary btn-lg btn-district"> {{district.name}}</a>
    </div>
</div>
<!--<hr />
<div id="index-letters-block" class="container index-letters">
    <h1>Scrisorile publicului</h1>
    <br />
    <div ng-include="'../Views/Letter.html'" ng-controller="LetterController"></div>
</div>-->