<div class="container">
    <div class="col-md-5">
        <h2>Scrisori existente</h2>
        <br/>
        <div class="list-group">
            <div ng-repeat="ltr in letters" class="list-group-item">
                <h3 class="list-group-item-heading"><b>{{::ltr.title}}</b></h3>
                <p class="list-group-item-text">{{::ltr.message}} </p>
                <p style="font-size: 13px" align="right" class="list-group-item-text">{{::ltr.email}}, {{ltr.date | date: 'dd/MM/yyyy'}} </p>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
        <h2>Posteaza o scrisoare</h2>
        <br/>
        <form ng-submit="createLetter($event)">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" ng-required="true" class="form-control" ng-model="letter.email">
            </div>
            <div class="form-group">
                <label for="title">Titlu</label>
                <input id="title" type="text" ng-required="true" class="form-control" ng-model="letter.title">
            </div>
            <div class="form-group">
                <label for="msg">Mesaj</label>
                <textarea id="msg" rows="10" ng-required="true" class="form-control" ng-model="letter.message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Posteaza</button>
        </form>
    </div>
</div>