
<div class="container">


    <h2>Top probleme ale cartierului <b>{{districtName}}</b>
        <!--<span style="float:right;font-size:16px;">Reordonează după priorități!</span>-->
    </h2>
    <h4>Reordonează după priorități!</h4>
    <div class="my-problems-box" id="my-problem-box">
        <div ng-show="selectedProblems==null || selectedProblems.length<1" style="padding:15px;color:grey;font-size:24px;display:inline-block">
            Începe prin a adăuga probleme de mai jos!
        </div>

        <div class="list-group my-problems-list" ui-sortable="sortableOptions" ng-model="selectedProblems" ng-change="problemsChanged()">
            <div ng-repeat="prb in selectedProblems" class="list-group-item my-problem">
                <button class="btn btn-danger my-problem-btn" ng-click="removeProblem(prb)">Șterge!</button>

                <h4 class="list-group-item-heading">{{::prb.name}}</h4>
                <p class="list-group-item-text">{{::prb.description}} </p>

            </div>
        </div>
    </div>

    <br />

    <h2>Alege din lista de probleme</h2>
    <div class="list-group">
        <div ng-repeat="prb in problems | orderBy:'-id'" class="list-group-item problem" ng-hide="prb.selected">
            <button ng-hide="prb.selected" ng-click="selectProblem(prb, $event)" class="btn btn-primary problem-btn">Adaugă problema!</button>
            <!--Not applicable anymore-->
            <!--<button ng-show="prb.selected" ng-click="removeProblem(prb, $event)" class="btn btn-danger problem-btn">Șterge problema!</button>-->

            <h4 class="list-group-item-heading">{{::prb.name}}</h4>
            <p class="list-group-item-text">{{::prb.description}} </p>

        </div>
    </div>



</div>