body {
    font-family: 'Open Sans'
}

.district{
    padding: 10px;
}

.btn-district{
    width:100%;
}



/*message*/
#message {
    display: none;
    position: fixed;
    z-index: 9000;
    width: auto;
    height: auto;
    font-size: 24px;
    right: 10px;
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

/*effects*/
.loading {
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -100px;
    width: 600px;
    height: 200px;
    background-image: url("/Content/Images/loading.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation: fadeInOut 1s infinite;
    animation: fadeInOut 1s infinite;
    display: none;
    z-index: 9000;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

tr:hover{
    background-color:#bababa;
}